.add-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
}

.form-details-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #fff;
  font-size: 20px;
}

.form-details-div label {
  width: 25vw;
  margin: 0;
}

.form-details-div input {
  width: 50vw;
  border-radius: 0 10px 10px 10px;
  outline: 0;
  padding: 5px 0;
}

.form-details-div textarea {
  width: 50vw;
  border-radius: 0 10px 10px 10px;
  height: 30vh;
  resize: none;
  border: none;
}

.add-margin{
  margin-top: 40px;
  outline: 0;
}

textarea[type="text"]:focus {
  border: 0;
  outline: 0;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 15px;
  padding-left: 10px;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 15px;
  padding-left: 20px;
}
:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 15px;
  padding-left: 20px;
}
:-moz-placeholder {
  /* Firefox 18- */
  font-size: 15px;
  padding-left: 20px;
}

.form-button:focus {
  outline: 0;
}

.form-button:hover {
  background-color: #ffeab0;
  color: #121212;
  border: 0;
  transform: scale(1.1);
}

.form-button {
  transition: all .2s ease-in-out;
  background-color: #ffdc7c;
  padding: 7.5px 40px;
  border-radius: 0 15px 15px 15px;
  font-size: 20px;
}

.update {
  color: #fff;
}

.unselect-button {
  font-weight: bold;
  border-radius: 0 10px 10px 10px;
  border: 0;
  margin: 5px 10px;
  font-size: 15px;
  padding: 10px;
  background-color: #ffdc7c;
  transition: all .2s ease-in-out;
}

.select-button {
  font-weight: bold;
  background-color: #ffeab0;
  transform: scale(1.1);
  transition: all .2s ease-in-out;
  border: 0;
  color: #121212;
  border-radius: 0 10px 10px 10px;
  margin: 5px 10px;
  font-size: 15px;
  padding: 10px;
}

.ngo-selection {
  width: 50vw;
}
