/* Component- Logo */
.signin-logo {
  font-family: "Courgette", cursive;
  font-size: 75px;
  color: #fff;
  text-shadow: -2px 0px 6px #121212;
}

.homepage-logo {
  font-family: "Courgette", cursive;
  font-size: 32px;
  color: #fff;
  text-shadow: -2px 0px 6px #121212;
}