/* Component- Background */
.background-content {
  /* background-color: #121212; */
  background-image: linear-gradient(
    to bottom,
    #675dda,
    /* #5a50cb, */ /* #4d43bc, */ #4036ad,
    #322a9e
  );
  height: 100vh;
}

.signin-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Component- Modal */
.modal-content {
  width: 40vw;
  height: 25vh;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Component- Logo */
.logo {
  font-family: "Courgette", cursive;
  font-size: 60px;
  color: #fff;
  text-shadow: -2px 0px 6px #121212;
}

