/* Component- Background */
.background-content {
  background-image: linear-gradient(
    to bottom,
    #5d6fd9,
    #675dda,
    #5a50cb, 
    #4d43bc, 
    #4036ad,
    #322a9e
  );
  height: 100vh;
}

.signin-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Component- Modal */
.modal-content {
  width: 40vw;
  height: 25vh;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Component- Logo */
.logo {
  font-family: "Courgette", cursive;
  font-size: 75px;
  color: #fff;
  text-shadow: -2px 0px 6px #121212;
}

/*Component- Google Sign-in */
.google-button {
  height: 40px;
  border-width: 0;
  background: white;
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
}
.google-button:focus,
.google-button:hover {
  background-color: #E0E0E0;
}
.google-button:active {
  background-color: #e5e5e5;
  box-shadow: none;
  transition-duration: 10ms;
}

.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
}

.google-button__icon--plus {
  width: 27px;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Roboto", arial, sans-serif;
}
