/* Common Class */
.background-content {
  /* background-image: linear-gradient(
    to bottom,
    #5d6fd9,
    #675dda,
    #5a50cb, 
    #4d43bc, 
    #4036ad,
    #322a9e
  ); */
  height: 100vh;
}

/* Sign-in page */
.signin-modal {
  background-image: linear-gradient(to bottom, #e7f0f2, #049bab);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Dashboard page */
.dashboard-modal {
  background-color: #049bab;
  width: 250px;
  border-radius: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
