/* Component- Modal */
.modal-content {
  width: 40vw;
  height: 25vh;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.profile-box {
  width: 35vw;
  height: 15vh;
  animation: fadein 2s;
}

.employee-box {
  width: 35vw;
  height: 60vh;
  margin: 5px;
  overflow-y: scroll;
  animation: fadein 2s;
}
.employee-box::-webkit-scrollbar { width: 0 !important }

.ngo-box::-webkit-scrollbar { width: 0 !important }

.ngo-box {
  width: 35vw;
  height: 80vh;
  overflow: hidden;
  margin: 5px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: fadein 2s;
}

.box-common {
  background-color: #6b79fa;
  margin: 5px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.add-box {
  width: 50vw;
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profile-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.profile-image {
  border-radius: 50%;
  height: 10vh;
}

.profile-extras {
  font-size: 18px;
}

.ngo-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ngo-content h2 {
  overflow: hidden;
  position: fixed;
}

.ngo-content-div {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ngo-content-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #ffdc7c;
  color: #121212;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  padding: 25px 20px;
  width: 85%;
  margin-top: 10px;
  border-radius: 0 15px 15px 15px;
}

.ngo-box-name {
  margin: 0;
}

.ngo-box-purpose {
  font-size: 13px;
  color: #2a2a2a;
  margin: 0;
}

.ngo-box-delete {
  background-color: #dc3446;
  border: 0;
  color: #fff;
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 0 7.5px 7.5px 7.5px;
  transition: all .2s ease-in-out;
}

.ngo-box-delete:hover {
  background-color: #e04859;
  transform: scale(1.1);
  border: 0;
}

.box-heading {
  color: #fff;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  margin-top: 5px;
}

.employee-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employee-content h2 {
  overflow: hidden;
  position: fixed;
}

.employee-content-div {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employee-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffdc7c;
  border: 0;
  padding: 15px 10px;
  color: #121212;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0 15px 15px 15px;
  width: 85%;
  margin-top: 10px;
  transition: all .2s ease-in-out;
}

.employee-button:hover {
  background-color: #ffeab0;
  transform: scale(1.1);
}

button:focus {outline:0;}

.employee-button h5 {
  margin: 5px;
}

.employee-button p {
  font-size: 16px;
  margin: 5px;
}

@keyframes fadein {
  0% { opacity: 0; }
  /* 25% { opacity: 0.25; }
  50% { opacity: 0.5; }
  75% { opacity: 0.75; } */
  100%   { opacity: 1; }
}